<br>
<div class="container">
  <div class="row">

    <div class="col-lg-12 center top">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
        </div>
        <div class="card-body">
          <h3>Save products</h3>
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="product.name" />
            <label mdbLabel class="form-label" for="user">Name</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="product.price" />
            <label mdbLabel class="form-label" for="user">Price</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="product.description" />
            <label mdbLabel class="form-label" for="user">Description</label>
          </mdb-form-control>
          <br />

          <div>

            @if (product.category == null) {
              <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="readCategory()">
                Categories
              </button>
            } @else {

              <span class="text-primary">Category: {{product.category.name}}</span>

              <button type="button" class="btn btn-warning btn-rounded" mdbRipple (click)="readCategory()">
                Change category
              </button>
            }

          </div>

          <br>

          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">
            Save
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #modalCategoriesRead>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-categorieslist [hideButtons]="true"
      (return)="returnCategory($event)"
    ></app-categorieslist>
  </div>
</ng-template>
