<br>
<div class="container">
  <div class="row">

    <div class="col-lg-12 center top">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
        </div>
        <div class="card-body">
          <h3>Save products</h3>
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="product.name" />
            <label mdbLabel class="form-label" for="user">Name</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="product.price" />
            <label mdbLabel class="form-label" for="user">Price</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="product.description" />
            <label mdbLabel class="form-label" for="user">Description</label>
          </mdb-form-control>
          <br />
          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">
            Save
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
