<br>
<br>


<div class="categories-container">
  <div class="header">
    <h1 class="title">Categories</h1>
    <button class="btn-create" (click)="new()">
      <i class="fas fa-plus"></i>
      New Category
    </button>
  </div>

  <div class="card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackById">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td class="actions">
            <button class="view-category-products" (click)="readProductsByCategory(category.name)" title="View Products in this Category">
              <span class="icon-wrapper">
                <i class="fas fa-box-open"></i>
              </span>
              <span class="button-text">View Products</span>
            </button>
            <button *ngIf="!hideButtons" class="action-btn edit" (click)="edit(category)" title="Edit">
              <i class="fas fa-edit"></i>
            </button>
            <button *ngIf="!hideButtons" class="action-btn delete" (click)="deleteCategory(category)" title="Delete">
              <i class="fas fa-trash"></i>
            </button>
            <button *ngIf="hideButtons" class="action-btn select" (click)="select(category)" title="Select">
              <i class="fas fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="products.length > 0" class="products-container">
    <h2>Products in selected category:</h2>
    <ul>
      <li *ngFor="let product of products">{{ product.name }}</li>
    </ul>
  </div>
</div>

<ng-template #modalCategoryDetail>
  <div class="modal-container">
    <div class="modal-header">
      <h2>{{ categoryEdit ? 'Edit Category' : 'New Category' }}</h2>
      <button class="close-btn" (click)="modalRef.close()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-content">
      <app-categoriesdetails
        [category]="categoryEdit"
        (return)="returnDetail()"
      ></app-categoriesdetails>
    </div>
  </div>
</ng-template>
